nextflow.enable.dsl=2

// Import mixed input params
includeConfig "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/refs/heads/master/configs/nextflow.config"
includeConfig "$projectDir/assorted-sub-workflows/irods_extractor/subworkflows/irods.config"
includeConfig "$projectDir/assorted-sub-workflows/mixed_input/mixed_input.config"

// Default parameters that can be overridden
params {
    // Default directory for input reads
    reads = ""
    // Default output directory
    output = "$projectDir/output"
    // Default file publish mode
    file_publish = "copy"
    
    // Default databases directory for saving all the required databases
    db = "$projectDir/databases"

    // Default link for SeroBA repository, and KMC kmer size for SeroBA 
    seroba_db_remote = "https://github.com/GlobalPneumoSeq/seroba/archive/refs/tags/v2.0.5.tar.gz"
    seroba_kmer = 71

    // MIXED_INPUT config
    only_new_input = false
    outdir = "$params.output"
}

process {
    // Avoid use of `-o pipefail` as this fails version info collation
    shell = ['/bin/bash', '-eu']

    // Set auto-retry and process container images
    maxRetries = 2
    errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }

    withLabel: bash_container {
        container = 'wbitt/network-multitool:69aa4d5'
    }
    withLabel: fastp_container {
        container = 'staphb/fastp:0.23.4'
    }
    withLabel: seroba_container {
        container = 'harryhungch/seroba:2.0.6-test'
    }
}

// Set parameters of different run environments
profiles {
    // Default Profile
    // For LSF, tested on Sanger farm22
    // Singularity as container engine, execute by LSF
    standard {
        params.singularity_cachedir = "$projectDir/singularity_cache"

        process {
            executor = 'lsf'
            queue = 'normal'
            scratch = true
            time = {30.min * task.attempt}
            maxRetries = 4

            withLabel: farm_low {
                cpus = 1
                memory = {1.GB * task.attempt}
            }
            withLabel: farm_mid {
                cpus = 8
                memory = {4.GB * task.attempt}
            }
            withLabel: farm_scratchless {
                scratch = false
            }
            withLabel: farm_local {
                executor = 'local'
            }
        }
        executor {
            perJobMemLimit = true
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
            runOptions = '--bind /lustre,/nfs,/data,/software,/tmp'
        }
    }
}

manifest {
    name = "test-seroba-nf"
    version = "0.0.1"
    contributors = [
        [
            name: "Harry C. H. Hung",
            affiliation: "Wellcome Sanger Institute",
            email: "ch31@sanger.ac.uk",
            github: "@HarryHung",
            contribution: ["author"],
            orcid: "0009-0005-3857-5242"
        ]
    ]
}